<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Library Management System</h1>
    <p class="lead">A library management system is software that is designed to manage all the functions of a library. It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates. </p>
    <hr class="my-4">
    <p>This system completely automates all your library's activities.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

